* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.89);
    width: 30vw;
    height: 60vh;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1 {
    padding: 10px;
}
.values {
    margin-top: 40px;
    padding: 16px
}

.values input {
    font: inherit;
    padding: 0.2em 0.5em;
    margin-top: 20px;
}

#btn {
    color: #fff;
    background-color: #e74c3c;
    outline: none;
    border: 0;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

#show {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
